/* General styles */
body {
    background-color: #FAF8F6;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

/* Container styles */
.container {
    background-color: #FFFFFF;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 300px;
    text-align: center;
    margin-top: 50px; /* Ajustado para centrar verticalmente */
}

/* Title styles */
h1 {
    color: #343A40; /* Gris oscuro */
    font-size: 24px;
    margin-bottom: 20px;
}

/* Label styles */
label {
    color: #343A40;
    margin-bottom: 5px;
    display: block;
    text-align: left;
}

/* Input styles */
input[type="text"],
input[type="password"],
select,
input[type="email"] {
    width: calc(100% - 16px); /* Ajuste para compensar el padding y border */
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #CED4DA;
    border-radius: 4px;
    box-sizing: border-box;
}

/* Checkbox styles */
input[type="checkbox"] {
    margin-right: 5px;
}

/* Terms label styles */
label[for="terms"] {
    display: block;
    text-align: left;
    margin-bottom: 10px;
}

/* Button styles */
button[type="submit"] {
    background-color: #343A40; /* Gris oscuro */
    color: #FFFFFF;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
    font-size: 16px;
    margin-top: 10px; /* Añadido margen superior */

}

button[type="submit"]:hover {
    background-color: black;
}
