/* General styles */
body {
    background-color: #f0f4f8;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    color: #333;
    background-color: #fff;
    padding: 20px;
    margin: 0;
    border-bottom: 1px solid #ddd;
}

nav {
    background-color: #edeef0;
    padding: 10px 0;
}

nav ul {
    list-style-type: none;
    text-align: center;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav li {
    display: inline-block;
    margin: 0 20px;
    position: relative;
}

nav a {
    text-decoration: none;
    color: #333;
    padding: 10px;
    display: block;
}

nav a:hover {
    background-color: #333;
    color: #fff;
}

/* Dropdown styles */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 200px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    flex-direction: column;
}

.dropdown-content a {
    color: #333;
    padding: 10px;
    text-align: left;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: flex;
}

/* Logout button */
.logout {
    margin-left: auto;
    margin-right: 20px;
}

.logout a {
    background-color: #ff4d4d;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
}

.logout a:hover {
    background-color: #ff0000;
}

/* Content styles */
.contenido {
    width: 80%;
    margin: 20px auto;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
    border-radius: 5px;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 5px;
    color: #333;
}

input, textarea {
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

button {
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #5cb85c;
    color: #fff;
    cursor: pointer;
}

button:hover {
    background-color: #4cae4c;
}

/* Table styles */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #f2f2f2;
}
