/* General styles */
body {
    background-size: cover;
    background-repeat: no-repeat;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    color: black;
    background-color: white;
    padding: 20px;
    margin: 0;
}

nav {
    background-color: #edeef0;
    padding: 10px 0;
}

nav ul {
    list-style-type: none;
    text-align: center;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav li {
    display: inline-block;
    margin: 0 20px;
    position: relative;
}

nav a {
    text-decoration: none;
    color: black;
    padding: 10px;
    display: block;
}

nav a:hover {
    background-color: black;
    color: white;
}

/* Dropdown styles */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 200px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    flex-direction: column;
}

.dropdown-content a {
    color: black;
    padding: 10px;
    text-align: left;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: flex;
}

/* Logout button */
.logout {
    margin-left: auto;
    margin-right: 20px;
}

.logout a {
    background-color: #ff4d4d;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
}

.logout a:hover {
    background-color: #ff0000;
}
/* Estilos adicionales para el botón de "Agregar Estudiante" */
#agregarEstudianteBtn {
    background-color: #4CAF50; 
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

#agregarEstudianteBtn:hover {
    background-color: #45a049; 
}

/* Table styles */
.table {
    width: 80%;
    margin: 20px auto;
    overflow-x: auto;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

th, td {
    padding: 10px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

tr:nth-child(even) {
    background-color: #f9f9f9;
}
.pie {
    text-align: center;
    padding: 20px;
    background-color: #edeef0;
}

footer {
    margin-top: 20px;
}
/* Agregué estilos para el contenido */
.contenido {
    padding: 20px;
    margin: 20px auto;
    width: 80%;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
}

.contenido h2 {
    margin-top: 0;
}

.contenido p {
    margin-bottom: 20px;
}

.contenido ul {
    list-style-type: disc;
    padding: 0 20px;
}

.contenido li {
    margin-bottom: 10px;
}
.video-container {
    display: flex;
    justify-content: center;
    margin: 20px 0;
    padding: 20px;
    border: 1px solid #ddd;
    background-color: #f9f9f9;
}

