/* Estilos para el encabezado */
.titulo {
    text-align: center;
    color: black;
    background-color: white;
    padding: 20px; /* Evita el margen predeterminado del encabezado */
}

/* Estilos para la barra de navegación */
nav {
    background-color: #edeef0;
    padding: 10px 0;
    width: 100%; /* Asegurar que ocupe todo el ancho disponible */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Sombra ligera para separar del contenido */
}

nav ul {
    list-style-type: none;
    text-align: center;
    margin: 0;
    padding: 0;
}

nav li {
    display: inline-block;
    margin: 0 10px; /* Espacio entre elementos de la lista */
}

nav a {
    text-decoration: none;
    color: black;
    padding: 10px 15px; /* Aumentar el espacio de relleno */
    display: inline-block;
}

nav a:hover {
    background-color: black;
    color: white;
}

.logout {
    margin-left: auto;
    margin-right: 20px;
}

.logout a {
    background-color: #ff4d4d;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
}

.logout a:hover {
    background-color: #ff0000;
}

/* Estilos para el formulario */
.formulario {
    background-color: white;
    padding: 20px;
    margin-top: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    padding: 8px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

textarea {
    resize: vertical;
}

button[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.pie {
    text-align: center;
    padding: 20px;
    background-color: #edeef0;
    clear: both; /* Limpiar flotados */
}

footer {
    margin-top: 20px;
}