/* Estilos para el encabezado */
h1 {
  text-align: center;
  color: black;
  background-color: white;
  padding: 20px; /* Evita el margen predeterminado del encabezado */
}

/* Estilos para la barra de navegación */
nav ul {
  background-color: #edeef0;
  width: 100%;
  list-style-type: none;
  text-align: center;
  margin: 0;
  padding: 0;
  margin-bottom: 20px; /* Añade un margen inferior para separar del contenido */
}

nav li {
  display: inline-block; /* Cambiado a inline-block para separar los elementos */
  margin-right: 10px; /* Espacio entre elementos de la lista */
}

nav a {
  text-decoration: none;
  color: black;
  padding: 10px;
}

nav a:hover {
  background-color: black;
  color: white;
}

/* Estilos para el contenedor principal */
.container {
  max-width: 900px; /* Ancho máximo del contenedor */
  margin: 0 auto; /* Centrar el contenedor horizontalmente */
  padding: 20px; /* Espaciado interno */
}

/* Estilos para la tabla de recursos */
.table {
  margin: 20px 0; /* Margen superior e inferior para separar la tabla */
  width: 100%;
  border-collapse: collapse; /* Colapso de los bordes de la tabla */
}

.mitabla {
  width: 100%;
}

.mitabla th, .mitabla td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

.mitabla th {
  background-color: #f0f0f0;
  font-weight: bold;
}

.mitabla caption {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

/* Estilos para el pie de página */
.pie {
  text-align: center;
  padding: 20px;
  background-color: #edeef0;
  clear: both; /* Limpiar flotados */
}

footer {
  margin-top: 20px;
}