/* Estilos para el encabezado */
h1 {
    text-align: center;
    color: black;
    background-color: white;
    padding: 20px;
    margin: 0;
}

/* Estilos para la barra de navegación */
nav {
    background-color: #edeef0;
    padding: 10px 0;
}

nav ul {
    list-style-type: none;
    text-align: center;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav li {
    display: inline-block;
    margin: 0 20px;
    position: relative;
}

nav a {
    text-decoration: none;
    color: black;
    padding: 10px;
    display: block;
}

nav a:hover {
    background-color: black;
    color: white;
}

/* Dropdown styles */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 200px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    flex-direction: column;
}

.dropdown-content a {
    color: black;
    padding: 10px;
    text-align: left;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: flex;
}

/* Logout button */
.logout {
    margin-left: auto;
    margin-right: 20px;
}

.logout a {
    background-color: #ff4d4d;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
}

.logout a:hover {
    background-color: #ff0000;
}

/* Estilos para el formulario */
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.items {
    background-color: #f9f9f9;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    width: 80%;
    max-width: 500px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.frm h3, .frm label {
    color: #2c3e50;
    font-family: 'Arial', sans-serif;
}

.frm input, .frm select, .frm textarea {
    width: 100%;
    padding: 10px;
    margin: 16px 0; /* Agrega espacio extra entre los campos */
    border: 1px solid #ccc;
    border-radius: 4px;
    font-family: 'Arial', sans-serif;
}

/* Estilizar los botones de radio */
.frm input[type="radio"] {
    margin: 0; /* Elimina el margen predeterminado */
    transform: scale(1.2); /* Ajusta el tamaño del botón de radio */
}

/* Estilos para el botón "Enviar" */
.button-blue {
    width: 100%;
    padding: 10px;
    background-color: #3498db; /* Color azul */
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-family: 'Arial', sans-serif;
    font-size: 16px;
    text-align: center; /* Alineación opcional */
    margin-top: 20px; /* Ajuste opcional de margen superior */
}

.button-blue:hover {
    background-color: #2980b9; /* Cambio de color al pasar el mouse */
}
.pie {
    text-align: center;
    padding: 20px;
    background-color: #edeef0;
    margin-top: 20px;
}

footer {
    margin-top: 20px;
}