/* General styles */
body {
    background-color: #FAF8F6;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

/* Container styles */
.container {
    background-color: #FFFFFF;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 300px;
    text-align: center;
    margin-top: 50px; /* Ajustado para centrar verticalmente */
}

/* Title styles */
h1 {
    color: #343A40; /* Gris oscuro */
    font-size: 24px;
    margin-bottom: 20px;
}

/* Form styles */
form {
    text-align: left; /* Alineación del texto en los campos del formulario */
}

/* Label styles */
label {
    color: #343A40;
    margin-bottom: 5px;
    display: block;
    text-align: left;
}

/* Input styles */
input[type="text"],
input[type="password"],
input[type="email"],
select {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #CED4DA;
    border-radius: 4px;
    box-sizing: border-box;
}

/* Checkbox styles */
input[type="checkbox"] {
    margin-right: 5px;
}

/* Button styles */
button[type="submit"] {
    background-color: #343A40; /* Gris oscuro */
    color: #FFFFFF;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
    font-size: 16px;
    margin-top: 10px; /* Añadido margen superior */
}

button[type="submit"]:hover {
    background-color: #1E2124; /* Gris más oscuro al hacer hover */
}

/* Link styles */
p {
    margin-top: 10px;
}

p a {
    color: #007BFF; /* Color azul del enlace */
    text-decoration: none;
}

p a:hover {
    text-decoration: underline; /* Subrayado al hacer hover */
}

